h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.field{
  margin-bottom: 10px;
}
label{
  display: block;
}
#divResult{
  color : red;
  font-size: 20pt;
}

section{
			margin-bottom: 10px;
		}
		ol{
			width: 500px;
			list-style: none;
			-webkit-padding-start: 0px;
		}
		li{
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 5px;
			border-radius: 5px;
			margin-bottom: 10px;
		}
		.stats, .bugname{
			font-size: 20pt;
		}
		.bugname{
			cursor: pointer;
		}
		.closed{
			color : red;
			font-style: italic;
			text-decoration: line-through;
		}